html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/font/Poppins-Regular.ttf');
}

* ::-webkit-scrollbar {
  display: none;
}

/* Background */
.bg-linear {
  background: #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(247, 235, 255, 1) 100%);  
}

/* Font Family */
.font-bold {
    font-family: 'Poppins-Bold';
}

.font-semibold {
    font-family: 'Poppins-SemiBold';
}

.font-medium {
    font-family: 'Poppins-Medium';
}

.font-regular {
    font-family: 'Poppins-Regular';
}

/* Text Color Assets */
.text-primary {
    color: #A52DFF;
}

.text-secondary {
    color: #4E0089;
}

.text-third {
    color: #7900D4;
}

.text-fourth {
    color: #631B99;
}

.text-black {
    color: #222222;
}

.text-lightBlack {
    color: #3D3D3D;
}

.text-white {
    color: #FFF;
}

.text-gray {
    color: #6B6B6B;
}

.text-gray-secondary {
    color: #5F5F5F;
}

.text-lightGray {
    color: #838383;
}

/* Background Assets */
.bg-purple {
    background-color: #5A009D;
}

/* Border Assets */
.border-primary {
    outline: none;
    border: 2px solid #A52DFF;
}

/* Display Hidden Responsive */
.display-hidden {
    display: block;
}

.display-hidden-flex {
    display: flex;
}

.display-flex {
    display: none;
}

/* Animation */
.animate-up-down {
  animation: upDown 2s ease-in-out infinite alternate;
}

.animate-down-up {
  animation: downUp 2s ease-in-out infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes downUp {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Fade Animation */
.fade-up, .fade-left, .fade-right {
  opacity: 0;
}

.fade-up.show {
  animation: fadeUp 1s ease forwards;
}

.fade-left.show {
  animation: fadeLeft 1s ease forwards;
}

.fade-right.show {
  animation: fadeRight 1s ease forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
    /* Display Hidden Responsive */
    .display-hidden,
    .display-hidden-flex {
        display: none;
    }

    .display-flex {
        display: flex;
    }

    /* Navbar Active Start */
    .navbar-active {
        right: -300%;
        transition: all ease-in-out 0.6s;
    }

    .navbar-active.active {
        right: 0;
        transition: all ease-in-out 0.6s;
    }

    .navbar-btn-active-top,
    .navbar-btn-active-center,
    .navbar-btn-active-bottom {
        rotate: 0deg;
        transition: all ease-in-out 0.7s;
    }  
    
    .navbar-btn-active-top.active {
        transition: all ease-in-out 0.7s;
        rotate: 45deg;
        transform: translateY(630%);
    }

    .navbar-btn-active-center.active {
        transition: all ease-in-out 0.7s;
        opacity: 0;
    }

    .navbar-btn-active-bottom.active {
        rotate: -45deg;
        transition: all ease-in-out 0.7s;
        transform: translateY(-630%);
    }
    /* Navbar Active End */
}