@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/font/Poppins-Regular.ttf');
}

* ::-webkit-scrollbar {
  display: none;
}

/* Font Family */
.font-bold {
    font-family: 'Poppins-Bold';
}

.font-semibold {
    font-family: 'Poppins-SemiBold';
}

.font-medium {
    font-family: 'Poppins-Medium';
}

.font-regular {
    font-family: 'Poppins-Regular';
}

/* Text Color Assets */
.text-primary {
    color: #A52DFF;
}

.text-secondary {
    color: #4E0089;
}

.text-third {
    color: #7900D4;
}

.text-fourth {
    color: #631B99;
}

.text-black {
    color: #222222;
}

.text-lightBlack {
    color: #3D3D3D;
}

.text-white {
    color: #FFF;
}

.text-gray {
    color: #6B6B6B;
}

.text-gray-secondary {
    color: #5F5F5F;
}

.text-lightGray {
    color: #838383;
}

/* Background Assets */
.bg-purple {
    background-color: #5A009D;
}

/* Display Hidden Responsive */
.display-hidden {
    display: block;
}

.display-hidden-flex {
    display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
    .display-hidden,
    .display-hidden-flex {
        display: none;
    }
}